Options +FollowSymlinks
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/api/(.*)$
RewriteCond %{REQUEST_URI} !^/public/(.*)$
RewriteRule ^(.*)$ /index.html [L,NC]

RewriteRule ^/api/(.*)$ /api.php [NC,L]

RewriteRule ^/public/(.*)$ /public/$1 [NC,L]
Options -Indexes